@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Hind, sans-serif;
    font-weight: bold;
    color: black;
    background-color: #034f84;

}
/* heading and logo */
h1,h2,h3 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 35px;
   }

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    color: white;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: #3a3a3a;
}

.active {
    border-bottom: 1px solid white;
}

/* hero image */

#hero-outer {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}
#hero-image {
    width: 100%;
    height: 600px;
    background: url(../images/Yoga\ meditation\ re\ size.jpeg) no-repeat center center;
    background-size: cover;
}

/* club ethos */

#club-ethos {
    height:600px
}
#ethos-heading {
    text-align: center;
    font-size: 180%;
    padding-top: 15px;
}
#club-ethos p {
    background-color: white;
    border: groove;
    border-color: black;
    border-width: thick;
}
#club-ethos img {
    padding-top: 10px;
}
#left-about {
    float: left;
    width: 33%;
    padding-top: 10px;
    margin-left: 10%;
}
#right-about {
    float: right;
    width: 33%;
    padding-top: 10px;
    margin-right: 10%;
}
.yoga-about {
    width: 60%;
    float: right;
}
.yoga-about, h2 {
    text-align: center;
}
.yoga-about, img {
    width: 100%;
}
hr {
    width: 100%;
    margin: 5px
}
.pilates-about {
    width: 100%;
    float: left;
}
.pilates-about, h2 {
    text-align: center;
}
.pilates-about, img {
        width: 100%;
        clear: both;
        border-radius: 25%;
} 
/* about us */
#about-us {
    height: 300px;
}
#about-header {
    text-align: center;
    margin-top: 5%;
}
#about-header h3 {
    padding-top: 15px;
    margin-bottom: 20px;
}
#about-list {
    float: left;
    list-style-type: circle;
    color: black;
    width: 33%;
    margin-top: 10px; 
    margin-left: 18%;   
}
.offer-list {
    background-color: white;
    border: groove;
    border-color: black;
    border-width: thick;
    padding-left: 25px;
    width: 330px;
}
#about-table {
    float: right;
    width: 40%;
    right: 350px;
    margin-top: 10px;
}
#about-table td, tr {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    background-color: white;
}
#about-us h3 {
    color: white;
}
#club-ethos h3 {
    color: white;
}
/* footer */
footer {
    height: 250px;
    width: 100%;
    margin-top: 10px;
    background-color: black;
    overflow: hidden;
}
.social-networks {
    text-align: center;
    line-height: 150px;
}
.social-networks li {
    display: inline;
}
.social-networks i {
    color: white;
    padding: 10px;
    font-size: 300%;
    margin: 5%;
}
/* club classes */
#club-classes {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#header-image {
    height: 600px;
    width: 100%;
    background:url(../images/Tranquil\ setting\ on\ beach.jpeg) no-repeat center center;
    background-size: cover;

}
#classes-header {
    font-size: 130%;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(24, 57, 241, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}
/* classes section */
#classes-section {
    height: 350px;
    width: 100%;
}
#left-classes {
    float: left;
    width: 33%;
    padding-top: 10px;
    margin-left: 10%;

}
#left-classes h3, ol {
    border: 3px solid black;
    text-align-last: left;
    padding-inline-start: 10%;
    width: 350px;
    margin-left: 15%;
    margin-top: 10px;
    background-color: white;
}
#left-classes ol {
    width: 300px;
}
#right-classes {
    float: right;
    width: 33%;
    padding-top: 10px;
    margin-right: 10%;
}
#right-classes h3, ol {
    border: 3px solid black;
    text-align-last: left;
    padding-inline-start: 10%;
    width: 250px;
    margin-top: 10px;
    margin-left: 20%;
    background-color: white;
}
#center-classes {
    border-collapse: collapse;
  width: 100%;
}
#center-classes td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    background-color: white;
}
#club-classes, h3 {
    color: black;
}
#right-classes h3 {
    width: 400px;
    margin-left: 40px;
}
.prices {
    color: white;
    position: relative;
    margin: 10px 0 10px 10px;
}
/* sign up form */
.sign-up-background {
    height: 800px;
    width: 100%;
    overflow: hidden;
    background-image: url(../images/Three\ Women\ Meditating\ in\ a\ Yoga\ Class.jpeg);
    background-size: cover;
    background-position: center;
}
.sign-up-form {
border: 5px solid black;
max-width: 400px;
background-color: rgba(24, 57, 241, 0.7);
float: left;
position: absolute;
left: 10%;
top: 25%;
}
label {
    color: white;
    margin-left: 5px;
}
.text-input {
    background-color: transparent;
    border: 3px solid black;
    width: 93%;
    height: 20px;
    padding: 5px;
    margin: 5px 5px 0 5px;
}
.text-input:hover {
    background-color:#3a3a3a
}
#choose-your-class {
    margin-left: 5px;
    border-style: groove;
    border-color: black;
}
.submit-button {
    display: block;
    color: white;
    background-color: transparent;
    border-style: groove;
    border: 3px solid black;
    margin: 10px 0 10px 5px;
    font-size: 20px;
}
.submit-button:hover {
    background-color: #3a3a3a;
}
/* thankyou.html */
#photos {
    height: 800px;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
    width: 100%;
}
#photos img {
    border-radius: 0%;
    height: 400px;
}
#photos-header {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 475px;
    bottom: 0px;
    font-size: 30px;
}
#photos-header strong {
    background-color: #3a3a3a;
    padding: 5px;
}
/* media queries */

/* for large and medium screen sizes from 1200px wide and down */
@media screen and (max-width: 1200px){
#club-ethos #about-us {
    width: 75%;
    margin: 0 auto;
}
#classes-header {
    right: 10px;
}
#right-classes {
    width: 100%;
    float: left;
    clear: both;
    margin: 0 auto;
}
#left-classes {
    width: 100%;
    float: left;
    margin: 0 auto;
}
#left-classes h3 {
    margin: 10px auto;
}
#left-classes ol {
    margin: 0 auto;
}
#right-classes h3 {
    margin: 10px auto;
}
#right-classes ol {
    margin: 0 auto;
}
#photos {
    column-count: 2;
}
}
/* medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px){
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
    #about-table {
        width: 100%;
        clear: both;
        float: left;
        margin: 0 auto;
    }
    #about-table table {
        margin: 0 auto;
    }
    #about-table h3{
        text-align: center;
    }
    #about-list {
        width: 100%;
        float: left;
        margin: 0 auto;
    }
    #about-list h3 {
        text-align: center;
    }
    #about-list ul {
        text-align: center;
        margin: 0 auto;
    }
    #right-about {
        width: 100%;
        float: left;
        clear: both;
        margin: 0 auto;
    }
    #left-about {
        width: 100%;
        float: left;
        margin: 0 auto;
    }
    #photos-header {
        font-size: 25px;
    }
}
/* smaller screen sizes from 800px wide and down */
@media screen and (max-width: 800px) {
    #about-table {
        width: 100%;
        clear: both;
        float: left;
        margin: 0 auto;
    }
    #about-table table {
        margin: 0 auto;
    }
    #about-table h3{
        text-align: center;
    }
    #about-list {
        width: 100%;
        float: left;
        margin: 0 auto;
    }
    #about-list h3 {
        text-align: center;
    }
    #about-list ul {
        text-align: center;
        margin: 0 auto;
    }
    #classes-header {
        width: 200px;
        height: 150px;
        font-size: 100%;
    }
    #photos {
        column-count: 1;
    }
    #photos-header {
        font-size: 20px;
    }
}
/* smaller screen sizes from 600px wide and down */
@media screen and (max-width: 600px) {
    #photos img {
        height: 250px;
    }
    #photos-header {
        font-size: 10px;
    }
}
/* smaller screen sizes from 500px wide and down */
@media screen and (max-width: 500px) {
    #classes-section {
        font-size: 75%;
       width: 75%;
    }
    #classes-section h3 {
        font-size: 10px;
    }
    .prices {
        clear: both;
    }
    .sign-up-form {
        margin-top: 20px;
        padding-right: 15px;
        width: 200px
    }
}
/* smaller screen sizes from 400px wide and down */
@media screen and (max-width: 400px) {
    #photos-header {
        font-size: 5px;
    }
    #about-list ul {
        width: 200px;
    }
}